
body {
    background: url("../images/bg.png") repeat;
}

@wrapper-width: 650px;

.wrapper {
    display:block;
    position:relative;
    width: @wrapper-width;
    margin:50px auto 50px auto;
    background: @white;
    padding:50px;
    border-radius:5px;
    min-height:700px;
}
 
.content {
    margin-bottom:25px;
}

.nav {
    display:block;
    position: absolute;
    bottom: 25px;
    left:0px;
    width:100%;
    height:25px;
    .prev {
        left:50px;
        position:absolute;
    }
    .next {
        right:50px;
        position:absolute;
    }
}



@media all and (max-width: @wrapper-width)  {
    .wrapper {
        width:100%;
        margin:0;
        border-radius:0;
    }
    body {
        background: @white;
    }
}

@media only screen 
and (min-device-width : 200px) 
and (max-device-width : 480px) {
    .wrapper {
        padding:20px;
        min-height:600px;
    }
    .content {
        margin-bottom:25px;
    }
}