/* simple reset for padding margin plus the box-sizing fix */
*, *:before, *:after{
    padding:0;
    margin:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box; 
}

/* When writing LESS I like to have a few high level files that define the global behaviors */
@import "colors.less";
@import "typography.less";
@import "util.less";

/* Followed by some structural files */
@import "layout.less";

/* In a larger app I would also have component level files for different components 
but there was no need for this small app*/