@font-stack: "Source Sans Pro", "Helvetica", "Arial", sans-serif;

@base-size: 17px;
@header-size: @base-size *2;
@lineheight:1.6;

/* Font multiplier for mobile */
@mobile: 0.70;

body {
    font-family: @font-stack;
}

.content {
    h1 {
        font-weight:700;
        font-size: @header-size;
        line-height: @header-size*@lineheight;
        margin:0 auto 20px auto;
        color: @grey;
    }
    h3 {
        font-weight:700;
        font-size: @base-size;
        line-height: @base-size*@lineheight ;
        margin:20px auto 10px auto;
        color: @mid-grey;
    }
    p,li {
        color: @light-grey;
        font-weight:400;
        font-size: @base-size;
        line-height: @base-size*@lineheight ;
    }
    p {
        margin:10px auto 10px auto;
    }

    li {

        margin:0 auto 10px auto;
    }
}   

a {
        font-size: @base-size;
        font-weight: 400;
        color: @red;
        text-decoration: none;
        &:hover {
            color: lighten(@red , 15%);
        }
        &:active {
            color: darken(@red , 10%);
        }
}

@media only screen 
and (min-device-width : 200px) 
and (max-device-width : 480px) {
    .content {
        h1 {
            font-size: @header-size * @mobile;
            line-height: @header-size*@lineheight * @mobile;
        }
        h3 {
            font-size: @base-size;
            line-height: @base-size*@lineheight ;
        }
        p,li {
            font-size: @base-size*@mobile;
            line-height: @base-size*@lineheight * @mobile;
        }
    }   

    a {
            font-size: @base-size * @mobile;
            font-weight: 400;
    }
}