.btn {
    display:inline-block;
    background: @red;
    padding:10px;
    color: @white;
    border-radius: 20px;
    &:hover {
        background: lighten(@red , 15%);
    }
    &:active {
        background: darken(@red , 10%);
    }
}

.btn-container {
    text-align:center;
    margin:40px auto 20px auto;
}
